@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bacasime+Antique&family=Fasthand&family=Ysabeau+SC:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: darkkhaki; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #808080;
    position: fixed;
    z-index: 1;
    top: 0;

}

nav .logo {
    height: 48px;
    width: 87px;
    padding-left: 19px;
    padding-top: 7px;
    padding-bottom: 11px;
    border-radius: 6px;
}

nav ul li {
    display: inline;
    margin: 10px 20px;
    font-family: 'Bacasime Antique', serif;


}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

nav ul :hover {
    color: red;
}

/* ------------------------home sec------------------------------ */

.home {
    height: 585px;
    width: 100%;
    background-color: #9A9A9A;
}

.home-content {
    display: flex;

}

.home-image {
    margin-top: 168px;
    margin-left: 12px;
    position: sticky;
    border-radius: 12px;
}

.home-image img {
    height: 381px;
    width: 536px;
    border: 3px white solid;
    padding: 5px 5px;
    border-radius: 12px;
}

.home-text {
    padding: 20px;

    height: 348px;
    width: 777px;
    margin-left: -61px;
    margin-top: 45px;
    border-top-left-radius: 15px;
    border-left: 2px white solid;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    background-color: #2F4F4F;
}

.home-txt {
    text-align: center;
    color: #c5bcbc;
    font-family: 'Bacasime Antique', serif;
    padding-top: 67px;
}

.home-txt p {
    font-family: 'Ysabeau SC', sans-serif;
    margin-top: 20px;
    font-size: x-large;
}

.home-txt h2 {
    font-family: 'Fasthand', cursive;
    font-size: small;
    margin-top: 7px;
}

.home-txt h1 {
    margin-left: 5px;
    font-size: 50px;
    color: #c5bcbc;
    margin-top: 20px;
}

.home-txt h1 span {
    color: white;
}

.dwn {
    background-color: grey;
    height: 37px;
    width: 111px;
    margin-left: 144px;
    margin-top: 43px;
    border-radius: 30px;
    border: 1px rgb(27, 27, 27) solid;
}

.dwn a {
    color: white;
    text-decoration: none;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin-left: 6px;
}

.dwn :hover {
    color: red;
}


/* ----------------------------about sec------------------------------------------ */

.about {
    height: 585px;
    width: 100%;
    background-color: #B5B5B5;
}

.heading {
    text-align: center;
    padding-top: 20px;
    font-family: 'Bacasime Antique', serif;
}

.heading h1 {
    font-family: 'Bacasime Antique', serif;
    font-size: 35px;
}

.heading p {
    font-family: 'Fasthand', cursive;
}

.about-image img {
    height: 305px;
    width: 308px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 7px;
}

.about-image {
    height: 320px;
    width: 320px;
    border: 5px white solid;
    border-radius: 50%;
    margin-left: 169px;
    margin-top: 46px;
    box-shadow: 10px 5px 5px 5px black;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-about {
    margin-top: 54px;
    margin-right: 11px;
}

.about-about p {
    text-align: justify;
    margin-left: 24px;
    margin-top: 3px;
    line-height: 25px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.about-info {
    margin-left: 24px;
    margin-top: 29px;
}

.about-info .info {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-family: 'Bacasime Antique', serif;
}

.info {
    align-items: center;

}

.info #jish {
    color: black;
}

.info p {
    font-family: 'Bacasime Antique', serif;
}

/* ----------skill--------------------- */
.skill {
    height: 585px;
    width: 100%;
    background-color: #D0D0D0;
}

.skill-image {
    width: 25%;
    height: 257px;
    border: black 1px solid;
    margin-left: 7px;
    border-radius: 12px;
}

.skill-image img {
    width: 295px;
    height: 250px;
    padding-left: 3px;
    padding-top: 3px;
    border-radius: 12px;
}

.flex {
    display: flex;
    margin-right: 7px;
    margin-top: 12px;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.bar1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    margin-top: 15px;
}

.bar1 h3 {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.bar1 span {
    font-weight: bold;
    font-size: 16px;
}

.light-bar {
    position: absolute;
    background-color: blueviolet;
    left: 0;
    width: 100%;
    height: 14px;
    bottom: -4px;
    border-radius: 6px;

}

.percent-bar {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 14px;
    background-image: linear-gradient(to right, #2F4F4F, #808080);
    border-radius: 6px;
}

.bar-box {
    margin-left: 22px;
    margin-right: 26px;
}

.bar-box2 {
    margin-left: 22px;
    margin-right: 26px;
}

/* diagram percnt */
.html-bar {
    width: 98%;
}

.css-bar {
    width: 95%;
}

.bt-bar {
    width: 93%;
}

.js-bar {
    width: 88%;
}

.ang-bar {
    width: 91%;
}

.react-bar {
    width: 85%;
}

/* ------------------------contact-------------------------- */

.contact {
    height: 66 0px;
    width: 100%;
    background-color: #e5e5e5;
}

.us {
    border: grey 1px solid;
    border-radius: 4px;
    height: 484px;
    margin-left: 17px;
    width: 443px;
}

.us img {
    width: 440px;
    height: 480px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 4px;
}

.cntct {
    display: grid;
    grid-template-columns: repeat(2, 1FR);
}

/* ------animation------------- */

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100px;
    margin-top: 95px;
    margin-left: -73px;
    font-family: 'Belanosima', sans-serif;
    font-weight: bold;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


/* .contact-text p{
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-left: -80px;
    margin-top: 71px;
} */


.contact-text p span {
    /* background-image: linear-gradient(red, yellow); */
    color: red;
    border-radius: 50%;
    font-size: 50px;
    margin-left: -5px;
}

.icon-div {


    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -142px;
    margin-top: 17px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    margin-top: 1px;
    position: relative;
    margin: 0 10px;
    width: 60px;
    height: 60px;
    border: 1px black solid;
    border-radius: 50%;
}

.icon-div :hover {
    background-image: linear-gradient(red, yellow);
}

.icon :hover {
    background-image: linear-gradient(red, yellow);
}

footer {
    margin-left: 94px;
    margin-top: 72px;
}